name = "void-time"
main = "src/index.ts"
compatibility_date = "2024-12-30"

# Durable Objects binding
[[durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"

[[durable_objects.bindings]]
name = "CALL_ROOM"
class_name = "CallRoom"

# Durable Objects migrations
[[migrations]]
tag = "v1"
new_classes = ["ChatRoom", "CallRoom"]
